@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

body {
    background-color: lightgray;
    
}

p {
    font-family: "Roboto Slab", serif;
    background-color: white;
}

footer > p {
    background-color: black;
    color: white;
}

